<!DOCTYPE html>
<html>
   <head>
     <title>CineTracker</title>
   </head>
   <body id="homebody">
   	<div class="vignette"></div>
   	<div class="title"><h1>CineTracker</h1></div>
      <div class="signup"><a href="/signup"><strong>Sign Up</strong></a></div>
   	<div class="movies"><a href="/movies"><b>Movies</b></a></div>
   	<div class="shows"><a href="/tv_shows"><b>TV Shows</b></a></div>
      <div class="footer">
      	<%=image_tag("tmdblogo.png", :id => "logo") %>
      	<p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
      </div>
   </body>
</html>