<% content_for :head do %>
    <title>CineTracker</title>
<% end %>
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Cine<span style="color: #EB3C3C">Tracker</span></h1>
                        <p class="intro-text">Keep track of all your movies, TV shows, and find new recommendations.<br>Created by The Directors</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About CineTracker</h2>
                <p>CineTracker is a free Ruby on Rails web app created by The Directors. You can start using it right away, simply create an account on <a href="#signup">the sign up page</a>.</p>
                <p>After creating an account, you can add movies and TV shows to your lists by finding them on <a href="#search">the search page</a>.</p>
                <p>Once you've built up a list of movies or shows that you've seen and rated, you can view recommendations for ones you might be interested in.</p>
            </div>
        </div>
    </section>

    <!-- signup Section -->
    <section id="signup" class="content-section text-center">
        <div class="signup-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Create an account on CineTracker</h2>
                    <p>You can sign up for free.</p>
                    <a href="/signup" class="btn btn-default btn-lg">Visit Sign Up Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- search Section -->
    <section id="search" class="container content-section text-center">
        <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Search for a movie or TV show</h2>
                    <p>Add movies or shows to your lists by searching for them here.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <form method="GET" action="#search">
                                <input type="text" name="mov"class="btn btn-lg btn-default" placeholder="Search Movies" autocomplete="off">
                            </form>
                        </li>
                        <li>
                            <form method="GET" action="#search">
                                <input type="text" name="tv"class="btn btn-lg btn-default" placeholder="Search TV Shows" autocomplete="off">
                            </form>
                        </li>
                    </ul>
                </div>
            <!-- </form> -->
        </div>
    </section>

    <!-- Map Section -->
    <section>
        <div id="map">
        <% if params[:mov] != nil && params[:mov] != "" %>
            <% @results = Movie.search(params[:mov]) %>
        <% else %>
            <% @results = TvShow.search(params[:tv]) %>
        <% end %>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <% @results.each do |result| %>
                        <div class="swiper-slide"><%=image_tag(result, :class => "poster") %></div>
                    <% end %>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container text-center"><%=image_tag("tmdblogo2.png", :id => "logo") %></div>
        <div class="container text-center">
            <p id="disclaimer">This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
        </div>
    </footer>

    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 4,
            centeredSlides: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            loop: true,
            spaceBetween: 5
        });
        </script>