<!DOCTYPE html>
<html>
   <head>
     <title>CineTracker</title>
   </head>
   <style type="text/css">
		.footer
		{
			font-family: Arial, Helvetica, sans-serif;
			font-size: 8pt;
		    color: gray;
		    padding: 0;
		    text-align: center;
		    margin: 0;
		    position: fixed;
		    bottom: 0px;
		    width: 100%;
		    z-index: 1;
		}
		#logo
		{
			width: 10%;
		}
		.title
		{
			font-family: Arial, Helvetica, sans-serif;
			font-size: 40pt;
		    color: black;
		    z-index: 1;
		  	position: fixed;
		  	top: 50%;
		  	left: 50%;
		  	transform: translate(-50%, -50%);
		}
      .signup a
		{
         text-decoration: none;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20pt;
		    color: black;
		    z-index: 1;
		  	position: fixed;
		  	top: 10%;
		  	left: 70%;
		  	transform: translate(-50%, -50%);
		}
		.movies a
		{
			text-decoration: none;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 40pt;
		    color: black;
		    z-index: 1;
		  	position: fixed;
		  	top: 70%;
		  	left: 35%;
		  	transform: translate(-50%, -50%);
		}
		.shows a
		{
			text-decoration: none;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 40pt;
		    color: black;
		    z-index: 1;
		  	position: fixed;
		  	top: 70%;
		  	left: 65%;
		  	transform: translate(-50%, -50%);
		}
		body
		{
			background-image: url("http://www.publicdomainpictures.net/pictures/60000/velka/at-the-arts-theater.jpg");
		}
		.vignette {
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
		}
   </style>
   <body>
   	<div class="vignette"></div>
   	<div class="title"><h1>CineTracker</h1></div>
      <div class="signup"><a href="/signup"><strong>Sign Up</strong></a></div>
   	<div class="movies"><a href="/movies"><b>Movies</b></a></div>
   	<div class="shows"><a href="/tv_shows"><b>TV Shows</b></a></div>
      <div class="footer">
      	<img id="logo" src="https://assets.tmdb.org/images/logos/var_1_0_PoweredByTMDB_Blk_Antitled.png">
      	<p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
      </div>
   </body>
</html>