<!DOCTYPE html>
<html>
   <head>
     <title>CineTracker</title>
   </head>
   <body>
      <a href="/">Home</a>
		<a href="/signup">Sign Up</a>
		<h1>CineTracker</h1>
      <a href="/movies">Movies</a>
      <a href="/tv_shows">TV Shows</a>
   </body>
</html>