/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

#home
{
	text-align: center;
	color: black;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 25pt;
	text-shadow: white 0.1em 0.1em 0.2em;
}
#head
{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 25pt;
	text-shadow: white 0.1em 0.1em 0.2em;
}
/* line 4, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/main.scss */
.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: gray;
  padding: 0;
  text-align: center;
  margin: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1;
}

/* line 17, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/main.scss */
#logo {
  width: 10%;
}

/* line 21, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/main.scss */
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40pt;
  color: black;
  text-shadow: white 0.1em 0.1em 0.2em;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 33, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/main.scss */
.signup a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
  color: black;
  text-shadow: gray 0.1em 0.1em 0.2em;
  z-index: 1;
  position: fixed;
  top: 10%;
  left: 70%;
  transform: translate(-50%, -50%);
}

/* line 46, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/main.scss */
.movies a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40pt;
  color: black;
  text-shadow: white 0.1em 0.1em 0.2em;
  z-index: 1;
  position: fixed;
  top: 70%;
  left: 35%;
  transform: translate(-50%, -50%);
}

/* line 59, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/main.scss */
.shows a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40pt;
  text-shadow: white -0.1em 0.1em 0.2em;
  color: black;
  z-index: 1;
  position: fixed;
  top: 70%;
  left: 65%;
  transform: translate(-50%, -50%);
}

/* line 72, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/main.scss */
.homebody {
  background-image: url(/assets/homebg-54c530f6991eb9cdcbe6e1810dca791476ac556de7dc348a1720e7af26504bf3.jpg);
}

/* line 76, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/main.scss */
.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

/* line 84, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/main.scss */
.homebody a:visited {
  color: black;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* line 7, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/movies.scss */
.moviesbody {
  background: #D4D4D4;
  font-family: 'Open Sans', sans-serif;
}

/* line 11, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/movies.scss */
#movietable {
  background: #363636;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}

/* line 17, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/movies.scss */
.theaders {
  border-bottom: 1px solid black;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}

/* line 25, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/movies.scss */
.tdata {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

/* line 30, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/movies.scss */
#movietbody tr {
  transition: background 0.25s ease;
  border-bottom: 1px solid black;
}

/* line 34, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/movies.scss */
#movietbody tr:hover {
  background: #858585;
}
/* line 2, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/*
a {
  color: #000;
  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }

}
*/
/* line 37, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 42, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 46, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 52, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 60, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 71, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 5, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/tv_shows.scss */
.tvbody {
  background: #D4D4D4;
  font-family: 'Open Sans', sans-serif;
}

/* line 9, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/tv_shows.scss */
#tvtable {
  background: #363636;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}

/* line 15, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/tv_shows.scss */
.theaders {
  border-bottom: 1px solid black;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}

/* line 23, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/tv_shows.scss */
.tdata {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

/* line 28, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/tv_shows.scss */
#tvtbody tr {
  transition: background 0.25s ease;
  border-bottom: 1px solid black;
}

/* line 32, C:/Users/Alejandro/Dropbox/sjsu/Courses/08_2016_Spring/CS 160/project/CineTracker/app/assets/stylesheets/tv_shows.scss */
#tvtbody tr:hover {
  background: #858585;
}
