// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.movies-index {
	background: #D4D4D4;
	font-family: 'Open Sans', sans-serif;
}
#movietable {
	background: #363636;
	border-radius: 0.25em;
	border-collapse: collapse;
	margin: 1em;
}
.theaders {
	border-bottom: 1px solid black;
	color: #E2B842;
	font-size: 0.85em;
	font-weight: 600;
	padding: 0.5em 1em;
	text-align: left;
}
.tdata {
	color: #fff;
	font-weight: 400;
	padding: 0.65em 1em;
}
#movietbody tr {
	transition: background 0.25s ease;
	border-bottom: 1px solid black;
}
#movietbody tr:hover {
	background: #858585;
}